*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: auto;
  display: flex;
  align-items: flex-end;
  width: 1140px;
  height: 534px;
  margin-block-start: 133px;
  gap: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-block-end: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} 

.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-end;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  padding-left: 5px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-block-end: 15px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: none;
  border-left: none;
  background-color: transparent;
  width: 217px;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  position: relative;
  display: flex;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #FFF;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  color: transparent;
  margin-inline-end: 5px;
  
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: 3.5px;
  left: 3.5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: 3.5px;
  left: 3.5px;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__city .search-form__label {
  text-decoration: none;
}

.search-form__checkbox:has(:focus-visible) + .search-form__pseudo-checkbox {
  outline: 1px solid #fff;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible{
  border: 1px solid #fff;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 389px;
  margin-inline-start: 5px;
  
}

.content__details {
  height: 100%;
  width: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-block-end: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  width: 411px;
  overflow-y: auto;
  position: relative;
}

.content__list-item {
  display: flex;
  justify-content: center;
  width: 394px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: inherit;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
 
}

.content__video-card-description-container {
  width: 200px;
  height: 101px;
  
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  line-height: 100%;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}
 
.content__video-card-thumbnail {
  width: 184px;
  height: 101px;
  background: #000;
  width: 190px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
